@import "index";

.categoria {
  width: 150px !important;
  height: 235px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;
  //font-family: fantasy;
  font-size: .9rem;
  background-color: rgb(51, 51, 51);
  overflow: hidden;
  margin: 5px;
  flex: 0 0 150px;
  cursor: pointer;

  &:hover {
    background-color: rgb(66, 66, 66);
  }

  .categoria__image {
    width: 100%;
    height: 75%;
    text-align: center;
    margin-top: 20px !important;

    img {
      // width: 95%;
      // height: 100%;
      // border-radius: 50%;
      // border: 2px solid rgb(33, 33, 33);
      width: 150px;
      height: 150px;
      border-radius: 200px;
      border: 2px solid rgb(33, 33, 33);
    }
  }

  .categoria__name {
    margin-top: 5px;
  }

  .categoria__price {}
}

.botonSubirProducto {
  margin-top: 10px;
  width: 100%;
  color: $primary-dark;

  .btn.btn-primary {
    background-color: $primary-light;
    border-color: $background-transparente;
    width: 100%;

    &:hover {
      background-color: $border-primary;
      border-color: $background-transparente;
    }
  }

  .btn.btn-success {
    width: 104%;
    margin-right: 10px;

    &:hover {
      border-color: $background-transparente;
      -webkit-transform: scale(1.10);
      -moz-transform: scale(1.10);
      -ms-transform: scale(1.10);
      -o-transform: scale(1.10);
      transform: scale(1.10);
    }
  }

  .btn.btn-danger {
    width: 104%;
    margin-left: 10px;

    &:hover {
      border-color: $background-transparente;
      -webkit-transform: scale(1.10);
      -moz-transform: scale(1.10);
      -ms-transform: scale(1.10);
      -o-transform: scale(1.10);
      transform: scale(1.10);
    }
  }
}

.nav {
  z-index: 2 !important;
  position: sticky !important;
  width: 100% !important;
  left: 0 !important;
  top: 0 !important;
}

.cerrarSesion {
  border-radius: 25px !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: $background-transparente !important;
  border-color: $background-transparente !important;
  color: $font-dark !important;
  width: 100% !important;
}

.paginasEnrutamiento {
  border-radius: 25px !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: $background-transparente !important;
  border-color: $background-transparente !important;
  color: $font-light !important;
  width: 100% !important;
}

.editar {
  cursor: pointer !important;
}

.eliminar {
  cursor: pointer !important;
}

.editar:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}

.eliminar:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}

.datosDelProducto {
  margin-top: -13px !important;
}

.archivo {
  position: relative;
  top: -40px;
  display: block;
  margin: auto;
  background-image: url("../../src/assets/png/upload-logo.png");
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;

  img {
    width: 140px !important;
    height: 140px !important;
    border-radius: 50%;
  }

  &:hover {
    cursor: pointer;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }

  svg {
    display: block;
    margin: auto;
    //margin-left: 45px;
    //margin-top: 25px;
    width: 30px;
    fill: $font-dark;

    &:hover {
      fill: $font-light;
    }
  }
}

.vistaPreviaImagen {
  position: relative;
  top: -40px;
  display: block;
  margin: auto;
  background-image: url("../../src/assets/png/upload-logo.png");
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;

  img {
    width: 140px !important;
    height: 140px !important;
    border-radius: 50%;
  }
}

.btnImprimir {
  font-size: 35px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: rgba(150, 150, 150, 0.16);
  height: 100vh;
  overflow: hidden;

  .pos {
    height: 100vh;
    display: flex;
  }
}

@media print {

  .nav .menu,
  .navbar {
    display: none !important;
  }

  .btnImprimir {
    display: none;
  }

  .detalles__tiquet {
    display: none !important;
  }

  svg {
    display: none !important;
  }
}

.vistaDetalle {
  cursor: pointer !important;
}

.vistaDetalle:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}

.vistaDetalles {
  margin-top: -10px !important;

  img {
    border-radius: 20px !important;
    -webkit-transition: all .9s ease;
    /* Safari y Chrome */
    -moz-transition: all .9s ease;
    /* Firefox */
    -o-transition: all .9s ease;
    /* IE 9 */
    -ms-transition: all .9s ease;
    /* Opera */
  }

  img:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }

  .logoHistorial {
    margin-left: 5px;
    width: 60px;
    cursor: pointer !important;

  }
}

.iconoExcel {
  margin-left: 5px !important;

  img {
    border-radius: 20px !important;
    -webkit-transition: all .9s ease;
    /* Safari y Chrome */
    -moz-transition: all .9s ease;
    /* Firefox */
    -o-transition: all .9s ease;
    /* IE 9 */
    -ms-transition: all .9s ease;
    /* Opera */
  }

  img:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }

  .descargaExcel {
    margin-left: 5px;
    width: 60px;
    cursor: pointer !important;
  }
}

.menu {

  width: 65%;
  background-color: rgb(32, 32, 32);
  height: 85vh;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  overflow-y: scroll;
  //temporary
  right: 0;
  margin-left: auto;
  margin: 20px;
  //

  .regresarCategorias {
    color: $font-light !important;

    svg {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }

  button {
    background-color: transparent;
    border: 0;
  }

  button:hover {
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
    transform: scale(1.10);
    background-color: transparent;
  }

  .home:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }

}

.basic-modal {
  margin-top: 40px !important;
  border-color: $background-transparente;
  background-color: $background-transparente;

  .modal-content {
    //background-color: $background-transparente;
    border-radius: 25px;
    border-color: $background-transparente;
    overflow: hidden;

    .modal-header {
      padding: 20px 20px;
      border: 15px;

      .modal-title {
        padding: 15px;
        border: 0;
        display: block;
        //margin: -10px 0 -10px auto;
        margin: -25px -15px -10px auto;

        svg {
          width: 35px;
          height: 35px;
          fill: $primary;

          &:hover {
            cursor: pointer;
          }
        }

      }
    }

    .modal-body {
      padding: 20px 40px 40px 40px;
    }
  }

  .modal-title:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }
}

.product {
  width: 150px !important;
  height: 250px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;
  //font-family: fantasy;
  font-size: .9rem;
  background-color: rgb(51, 51, 51);
  overflow: hidden;
  margin: 5px;
  flex: 0 0 150px;
  cursor: pointer;

  &:hover {
    background-color: rgb(66, 66, 66);
  }

  .product__image {
    width: 100%;
    height: 75%;
    text-align: center;

    img {
      //width: 95%;
      //height: 100%;
      //border-radius: 50%;
      width: 150px;
      height: 150px;
      border-radius: 200px;
      border: 2px solid rgb(33, 33, 33);
    }
  }

  .product__name {
    margin-top: 5px;

    .informacionProducto {
      font-size: 14px !important;
    }
  }

  .product__price {}
}

.ticket {
  width: 35%;
  background-color: #FFF;
  height: 85vh;
  padding: 10px;
  margin: 20px 0 0 10px;
  border-radius: 10px;

  .logotipo {
    width: 91px !important;
    margin: 0 auto;
    //margin-left: 15px !important;
    //margin-top: 10px;
  }

  .ticket__information {
    border: 1px solid;
    height: 90%;
    box-shadow: 3px 3px 5px;
    font-family: sans-serif;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .ticket__table {
      overflow: visible;

      .items__description {
        columns: 2 !important;
        display: flex;
      }
    }

    .cafe {
      color: $font-dark !important;
      margin: 5px auto;
      text-align: center;
      font-size: .9rem;
      font-weight: bold !important;

      .cafe__name {
        color: $font-dark !important;
        font-size: 1.5rem;
      }

      .cafe__direccion {
        color: $font-dark !important;
        font-weight: bold;
      }

      .cafe__number {
        color: $font-dark !important;
        font-weight: bold;
        font-size: 16px !important;
        margin-top: -5px !important;
      }

      .invoice__cliente {
        color: $font-dark !important;
        font-size: 16px !important;
        font-weight: bold;
      }
    }

    .ticket__table {
      height: 100%;
      overflow-y: scroll;

      table {
        padding: 5px;
        font-size: 14px;
        text-align: left;
        width: 100%;

        th {
          border: 1px solid;
          border-left: 0;
          border-right: 0;
          border-style: dashed;
        }

        tr {
          text-align: center;
        }

        .items__numeracion {}

        .items__description {
          columns: 1;
          text-align: left;
        }

        .remove-icon {
          text-align: center;
          cursor: pointer;
        }

        .remove-icon:hover {
          -webkit-transform: scale(1.25);
          -moz-transform: scale(1.25);
          -ms-transform: scale(1.25);
          -o-transform: scale(1.25);
          transform: scale(1.25);
        }

        .remove-icono {
          text-align: center;
        }
      }
    }

    .subtotal {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      width: 100%;
      margin: 10px 0;

      hr {
        border: 1px solid;
        border-style: dashed;
      }

      .observaciones__tiquet {
        //margin-top: -10px !important;
        text-align: center;
        color: $font-dark !important;
        font-size: 14px !important;
      }

      .subtotal__price {
        margin: 5px 20px;
      }
    }
  }

  .ticket__actions {
    width: 100%;
    border: solid 2px #000;
    border-radius: 5px;
    height: 10%;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    Button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      font-size: 1.5rem;
      color: $primary-dark;
    }
  }

  Button:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }

}

.btnImprimirdeNuevo {
  font-size: 48px !important;
  float: right;
  width: 185px;
  margin-top: -50px !important;
}

.imagenPrincipal {
  text-align: center;

  .textoImagenPrincipal {

  }
  .imagenProducto {
    margin-top: 45px;
  }
}

.tituloSwitch {
  color: $font-dark !important;
  text-align: center;
}

.btnImprimirdeNuevo:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}

.ticket__autogenerado {
  //width: 35%;
  // margin-top: -20px !important;
  background-color: #FFF;
  height: 95vh;
  padding: 10px;
  margin: -30px 0 0 10px;
  border-radius: 10px;

  .logotipo {
    width: 135px !important;
    margin: auto !important;
    //margin-left: 50px !important;
  }

  .ticket__information {
    border: 1px solid;
    height: 90%;
    box-shadow: 3px 3px 5px;
    font-family: sans-serif;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .cafe {
      color: $font-dark !important;
      margin: 5px auto;
      text-align: center;
      font-size: .9rem;
      font-weight: bold !important;

      .cafe__name {
        color: $font-dark !important;
        font-size: 1.5rem;
      }

      .cafe__direccion {
        color: $font-dark !important;
        font-weight: bold;
      }

      .detallesTitulo {
        margin-top: 10px !important;

        .cafe__number {
          color: $font-dark !important;
          font-weight: bold;
          margin-top: -5px !important;
        }

        .invoice__cliente {
          color: $font-dark !important;
          font-weight: bold;
        }
      }

    }

    .ticket__table {
      height: 100%;
      overflow-y: scroll;

      table {
        padding: 5px;
        font-size: 14px;
        text-align: left;
        width: 100%;

        th {
          border: 1px solid;
          border-left: 0;
          border-right: 0;
          border-style: dashed;
        }

        tr {
          text-align: center;
        }

        .items__description {
          columns: 1;
          text-align: left;
        }

        .remove-icon {
          text-align: center;
          cursor: pointer;
        }
      }
    }

    .subtotal {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      width: 100%;
      margin: 10px 0;

      hr {
        border: 1px solid;
        border-style: dashed;
      }

      .observaciones__tiquet {
        //margin-top: -10px !important;
        text-align: center;
        color: $font-dark !important;
        font-size: 14px !important;
      }

      .subtotal__price {
        margin: 5px 20px;
      }
    }
  }

  .ticket__actions {
    width: 100%;
    border: solid 2px #000;
    border-radius: 5px;
    height: 10%;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    Button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      font-size: 1.5rem;
    }
  }
}

.indicadorDetallesVenta {
  cursor: pointer !important;
}

.indicadorCancelarVenta {
  cursor: pointer !important;
}

.indicadorDetallesVenta:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}

.indicadorCancelarVenta:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}

.badge.bg-success {
  font-size: 12px;
}

.badge.bg-danger {
  font-size: 12px;
}

.bg-gray-800 {
  z-index: 3 !important;
  position: sticky !important;
  //width: 100% !important;
  left: 0 !important;
  top: 0 !important;
}

.logoPrincipal {
  margin-left: 45px !important;
  cursor: pointer !important;
}

.logoPrincipal:hover {
  -webkit-transform: scale(1.30);
  -moz-transform: scale(1.30);
  -ms-transform: scale(1.30);
  -o-transform: scale(1.30);
  transform: scale(1.30);
}

.max-w-xs:hover {
  -webkit-transform: scale(1.30);
  -moz-transform: scale(1.30);
  -ms-transform: scale(1.30);
  -o-transform: scale(1.30);
  transform: scale(1.30);
}

.cerrarSesion:hover {
  -webkit-transform: scale(1.30);
  -moz-transform: scale(1.30);
  -ms-transform: scale(1.30);
  -o-transform: scale(1.30);
  transform: scale(1.30);
}

.btn.btn-primary {
  //color: $font-dark !important;

  &:hover {
    //color: $font-dark !important;
  }
}

.cerrarSesion {
  border-radius: 25px !important;
  color: $font-dark !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: $background-transparente !important;
  border-color: $background-transparente !important;
  //color: $font-dark !important;
  width: 100% !important;

  .btn.btn-primary {
    color: $font-dark !important;

    &:hover {
      //color: $font-dark !important;
    }
  }
}

.paginasEnrutamiento {
  border-radius: 25px !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: $background-transparente !important;
  border-color: $background-transparente !important;
  color: $font-light !important;
  width: 100% !important;
}

.btnRegistro:hover {
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  transform: scale(1.08);
}

.fade.alert.alert-primary.show {
  background-color: $tonalidad-gris-especial !important;
  border-radius: 15px !important;
  border-color: $font-light !important;
  margin-top: 10px;
  box-shadow: 0 0px 0px $border-dark inset, 0 0 8px $border-dark;

  h1 {
    color: $font-dark !important;
  }
}


.btnRegistro {
  //background-color: $tonalidad-azul !important;
  float: right !important;
  border-radius: 20px !important;
  color: $font-light !important;

  .btn.btn-primary {
    color: $font-light !important;

    &:hover {
      -webkit-transform: scale(1.08);
      -moz-transform: scale(1.08);
      -ms-transform: scale(1.08);
      -o-transform: scale(1.08);
      transform: scale(1.08);
    }
  }
}

.diaHistorial {
  margin-top: -28px !important;
  margin-left: 20px;
}

.contenidoCentrado {
  text-align: center !important;

  img {
    margin: 0 auto !important;
  }
}

.gruposOpciones {
  padding: 20px 10px 10px 10px;
}

// Estilos para cards trasparentes
.card-group {
  //margin-top: 10px !important;
}

.card {
  margin-top: 5px !important;
  background-color: $background-transparente !important;
  //border-color: $background-transparente !important;
  border: $background-transparente !important;
  //border-bottom: $background-transparente !important;

  .card-header {
    color: $font-dark !important;
    background-color: $background-transparente !important;
    border-bottom: $background-transparente !important;
  }

  .card-body {
    cursor: pointer !important;

    img {
      border-radius: 20px !important;
      -webkit-transition: all .9s ease;
      /* Safari y Chrome */
      -moz-transition: all .9s ease;
      /* Firefox */
      -o-transition: all .9s ease;
      /* IE 9 */
      -ms-transition: all .9s ease;
      /* Opera */
    }

    img:hover {
      -webkit-transform: scale(1.25);
      -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
      -o-transform: scale(1.25);
      transform: scale(1.25);
    }

    .panel {
      .contenidoPanel {
        //margin: 0 auto !important;
      }
    }
  }

}

body {
  color: $font-dark !important;
  overflow-x: hidden;
  height: 100%;
  //background-color: black;
  //background: url("../../assets/jpg/fondo-login.jpg") no-repeat center center fixed;
  //background: url("../../assets/png/fondo-lineas-3.png") no-repeat center center fixed;
  background-size: 100% 100%;
  //background-image: linear-gradient(to right, $font-light, $beige);

  //background-image: linear-gradient(to right, $tonalidad-gris, $tonalidad-azul);

  // Para la barra de arriba
  .Nav--principal {
    z-index: 2 !important;
    position: fixed !important;
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
    background-color: $tonalidad-azul !important;

    h1 {
      text-align: center !important;
      color: $font-light !important;
    }
  }


  .footer--principal {
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
  }

  footer {
    background-color: $tonalidad-azul !important;
  }

  p {
    margin: 0;
    font-size: 18px !important;
    color: $font-light !important;
  }

  .logos {
    //margin: 0 auto;
    margin-top: 10px;
    margin-left: 10px;


    .logoPrincipal1 {
      width: 155px;

      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  .card1 {
    margin-top: 100px !important;
    margin-left: 0px !important;
    //width: 100%;
    border-radius: 30px;
    box-shadow: 0 2px 2px $border-dark inset, 0 0 8px $border-dark;
    //Trasparencia
    opacity: 1;
    background-color: $background-transparente;
    //Termina estilos de transparencia
    //background-image: linear-gradient(to left, $marron_suave2, $beige);

    .card-header {
      color: $font-dark !important;
      background-color: $background-transparente;

      border-bottom: $background-transparente;

      h1 {
        color: $font-dark !important;
      }

      //font-weight: bold !important;
    }

    .card-body {
      margin-top: 0px !important;
      text-align: left !important;
      font-size: larger;

      .rounded {
        width: 100px;
        height: 100px;
      }

      .sign-in-form {
        .form-label {
          color: $font-dark !important;
          font-weight: bold !important;
        }

        input.form-control,
        textarea.form-control {
          margin-top: -5px !important;
          background-color: $background-light !important;

          border-color: $border-dark;
          box-shadow: 0 1px 1px $border-dark inset, 0 0 8px $border-dark;
          border-radius: 30px !important;
          //border-bottom: 1px solid $border-dark;
          color: $font-dark !important;

          &:focus {
            //background-color: $marron_suave4 !important;
            border-color: $border-dark;
            color: $font-dark !important;
          }
        }

        .campoPassword {
          margin-top: 10px !important;

          svg {
            position: absolute !important;
            top: 65% !important;
            right: 12% !important;
            color: $font-dark !important;
            font-weight: bold !important;
          }
        }

        h2 {
          font-weight: bold;
          padding-bottom: 30px;
        }

        .form-group {
          padding-bottom: 20px;
        }

        .campoCorreo {
          margin-top: -20px !important;
        }

        input {
          font-size: 25px;
        }

        .botonLogin {
          margin-top: 60px !important;
          display: flex;
          justify-content: center;
          align-items: center;

          button {
            width: 50%;
            color: $font-dark !important;
            font-size: 20px;
            font-weight: bold;
            border-radius: 30px !important;
            //padding: 15px;

            background-color: $primary-light;
            border-color: $primary-light;

            .spinner-border {
              width: 25px;
              height: 25px;
            }


            &:hover {
              color: $primary-dark-light;
              background-color: $font-light;
            }
          }
        }
      }
    }
  }

  //Estilos para el footer
  /* START FOOTER PINNING CODE */
  @media only screen and (max-width: 980px) {
    .footer--pin {
      display: none !important;
    }
  }

  .footer--pin {
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;

    /*width: 100%;
    height: 40px;
    position: fixed;
    z-index: 250;
    bottom: 0;*/

    //overflow: none;
    //color: white;
    //text-align: center;
    //font-size: 30px;
    //line-height: 80px;

    /*-moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;*/
  }

  /* END FOOTER PINNING CODE */

  /*nav {
      background-color: #e3c893;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 10px;
      border-bottom: 1px solid #df9f23;
  }

  nav div {
      background-color: #df9f23;
      border-radius: 30px;
      width: 15px;
      height: 15px;
  }*/

  ul {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    //background-color: #df9f23;
    border-radius: 30px;
    //width: 40px;
    //height: 10px;
  }

  h1 {
    /*font-family: Montserrat, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;*/
    font-size: 1.6rem;
    color: $primary-light;
    //margin-top: 5px;
    //margin-bottom: 5px;
  }

  p {
    margin: 0;
    font-size: 20px;
    color: $font-light !important;
  }

  main {
    //padding: 10px;
    max-width: 500px;
    margin: 0 auto;
  }

  footer {
    background-color: $primary-light;
    padding: 30px 30px;
    //margin-top: -100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer div {
    background-color: $primary-dark;
    border-radius: 30px;
    width: 65px;
    height: 10px;
  }

  footer p {
    color: $font-dark;
    /*font-family: Montserrat, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;*/
    text-align: center;
  }

  footer ul li {
    //background-color: $primary-dark;
    //margin-left: -100px;
    border-radius: 30px;
    width: 15px;
    height: 15px;

    img {
      width: 30px;
      height: 30px;
    }

    svg {
      color: $font-dark !important;
      margin-bottom: 15px !important;
      margin-left: 10px;
      width: 30px !important;
      height: 30px !important;
    }
  }
}

.inline-block:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.cursor-pointer:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}

a:hover {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}